body {
    font-family: monospace;
}

h1 {
    text-align: center;
}

table {
    border: 1px solid lightgray;
    border-collapse: collapse;
    margin: 100px auto 0;
}

td {
    width: 50px;
    height: 50px;
    border: 1px solid lightgray;

    text-align: center;
    font-size: 2em;
}